*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

form input {
  font-size: x-large;
  width: 100%;
  border: none;
}

form .editable {
  font-size: x-large;
  width: 750px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
}

#root>* {
  padding-top: 20px;
}

#root>header {
  flex-basis: 250px;
  background-color: #004b9a;
  position: fixed;
  height: 100%;
  width: 300px;

  color: white;
  text-align: center;
}

#root>header>nav {
  padding-top: 20px;
}

#root>header li {
  padding-top: 10px;
}

#root>header a {
  text-decoration: none;
}

#root>.container-base-box {
  flex-basis: 750px;

  padding-left: 20px;
  margin-left: 300px;
}

#root>.container-base-box>main {
  min-height: 80vh;
}

#root>.container-base-box>main section>h1 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#root>.container-base-box>main article {
  padding-bottom: 20px;
}

#root>.container-base-box>main article footer {
  font-size: smaller;
  padding: 5px 0;
}

#root>.container-base-box>main .note-detail h1 {
  border-bottom: 1px solid #ccc;
}

#root>.container-base-box>main .note-detail footer p {
  padding: 0 0 20px;
}

#root>.container-base-box>footer {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
}

.new-note-button-container {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.new-note-button {
  padding: 10px 25px;
  margin: 0 auto;
  font-size: larger;

  display: flex;
  align-items: center;
  width: 70%;
  background-color: #1566bd;
  text-align: center;
  justify-content: center;
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #b3b3b3;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  border: 1px solid #ccc;
  padding: .31rem 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: .31rem;
}

.options>div {
  display: flex;
  align-items: center;
}

.options>div>span {
  padding-left: 0.18rem;
}

.note-detail .options {
  border-radius: 25px;
  margin-bottom: 20px;
}

.emptyMessage {
  font-style: oblique;
}

.search {
  padding-bottom: 1.25rem;
}

.search input {
  width: 100%;
  padding: .6rem .3rem;
  border: 1px solid #ccc;
}

.btn-new-note {
  padding: .6rem;
}
